
.menu{
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to right,#FCA5F1,#B5FFFF);
    position: fixed;
    z-index:2;
    margin-top: -8px;
    top:0;
    left: 0;
}


}
#carouselId1{
    margin-left: -33px;
}
#carouselId2{
    margin-left: -33px;
}
#carouselId3{
    margin-left: -33px;
}
=======
.logo .logo-top{
    height: 50px;
    width: 50px;
    background-color: antiquewhite;
    float: left;
    margin-top: 5px;
    margin-left: 50px;
    border-radius: 500px;
}
.trangchu:hover a{
text-decoration: none;
color: white;
}
.lienhe:hover a{
    text-decoration: none;
color: white;
}
.anhdepcuocsong:hover a{
    text-decoration: none;
color: white;
}
.logo a img{
    width: 100%;
    height: 100%;
    border-radius: 55px;
}
.lienhe a{
    width: 112px;
    height: 29px;
    background-color: pink;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 21px;
    font-family: open sans,arial,sans-serif;
    float: right;
    margin-top: 18px;
    margin-right: 3%;
    padding-top: 4px;
}
.lienhe a:hover{

    background-image: -webkit-radial-gradient(right,rgb(202, 66, 66),rgb(219, 219, 65));
}
.trangchu a:hover{
    background-image: -webkit-radial-gradient(right,rgb(202, 66, 66),rgb(219, 219, 65));
}
.anhdepcuocsong a:hover{
    background-image: -webkit-radial-gradient(right,rgb(202, 66, 66),rgb(219, 219, 65));
    background-image: -webkit-radial-gradient(right,rgb(150, 245, 171),rgb(224, 190, 127));
}
.anhdepcuocsong a:hover{
    background-image: -webkit-radial-gradient(right,rgb(150, 245, 186),rgb(224, 190, 127));
}
.trangchu a:hover{
    background-image: -webkit-radial-gradient(right,rgb(150, 245, 186),rgb(224, 190, 127));
}
.anhdepcuocsong a{
    float: right;
    width: 221px;
    height: 29px;
    background-color: pink;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 21px;
    font-family: open sans,arial,sans-serif;
    margin-right: 1%;
    margin-top: 16px;
    padding-top: 3px;
}
.trangchu a{
    float: right;
    width: 140px;
    height: 29px;
    background-color: pink;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 21px;
    font-family: open sans,arial,sans-serif;
    margin-right: 1%;
    margin-top: 17px;
    padding-top: 3px;
}
.body{
    z-index: 1;
    background-color: lavenderblush;
    width: 100%;
    margin-top: -17px;
}
.tongnoidung{
    width: 857px;
    margin: auto;
    margin-top: 70px;
}
.body h1{
    color: #FF9900;
    text-align: center;
}
.body  .quest1{
    color: #006899;
    margin-top: 90px;
    font-size: 31px;
    text-align: center;
}
.connect div{
   
}
.icon i{
    text-align: center;

}
.body  .noidung1{
    font-size: 21px;
    color: #222222;
    line-height: 30px;
}
.noidung2{
    font-size: 21px;
    color: #222222;
}
.body .phan1 .noidung1 span{
    color: #006899;
}
 .container{
   width: 100%;
   margin-top: 170px;
   background-color: #ffc1d654;
   overflow: auto;
   
}
.contact{
    width: 30%;
    margin-left: 5px;
    margin-top: 6px;
    float: left;
}
.learn{
    width:30% ;
    float: left;
    margin-left: 30px;
    margin-top: 6px;
}

.ketnoi{
    text-align: center; 
    font-size: 21px;
    font-weight: bold;
    margin-top: 25px;
}
.hoctap{
    text-align: center; 
    font-size: 21px;
    font-weight: bold;
    margin-top: 25px;
    width: 85%;
}
.noidunghoctap{
    margin: auto;
    font-size: 21px; 
    margin-top: 4px;
}
 .icon{
    background-color: rgb(26, 115, 232);
    width: 49px;
    height: 38px;
    text-align: center;
    border-radius: 500px;
    padding-top: 11px;
    margin: auto;
}
.icon i{
    font-size: 27px;
    color: white;
}
.noidungketnoi{
    margin: auto;
    font-size: 21px;
    margin-top:46px ;
}
.grow{
    width: 30%;
    float: left;
    margin-top: 6px;
    margin-left: 30px;
}
.phattrien{
    text-align: center; 
    font-size: 21px;
    font-weight: bold;
    margin-top: 25px; 
}
.noidungphattrien{
    margin: auto;
    font-size: 21px;
    margin-top:46px ;
}


.phan3{
    width: 857px;
    height:3400px;
    margin: auto;
    margin-top: 30px;
}
.phan3 .phanmodau{
width: 100%;
height: 280px;
text-align: center;
}
.phan3 .phanmodau h2{
    color: #006899;
    font-size: 31px;
}
.phan3 .phanmodau .noidung2{
    font-size: 21px;
    color: #222222;
    line-height: 30px;
    text-align: justify;
}
.phan3 .sukien1{
    height: 1180px;
    margin-top: 89px;
}

.phan3 .sukien1 h2{
    font-size: 29px;
    text-align: center;
}
.phan3 .sukien1 .noidung{
    text-align: justify;
    font-size: 21px; 
}
.phan3 .sukien1 .noidung p{
    font-size: 21px;
    width: 96%;
}
.phan3 .sukien1 .danhsach{
    list-style: decimal;
    font-size: 23px;
}
.danhsach li{
    margin-left:  -17px;
}
.phan3 .sukien1 .danhsach .dacbiet{
    color: red;
    font-size: 28px;
}
.phan3  .sukien1 .hinhanhsk1 img{
    width: 23%;
    float: left;
    margin: 2px;
    border-radius: 5px;
}
.phan3  .sukien1 .hinhanhsk1{
    margin-left: 6%;
    
}
.phan3 .sukien2{
    height: 1570px;
}
.phan3 .tieude{
    margin-left: 3%;
    font-size: 29px;
}
.phan3 .sukien2 .noidung{
    margin-left: 3%;
}
.phan3 .sukien2 .noidung p{
    font-size: 21px;
    width: 96%;
}
.phan3 .sukien2 .noidung .danhsach{
    list-style: decimal;
    font-size: 23px;
}

.phan3  .sukien2 .hinhanhsk2 img{
    width: 23%;
    float: left;
    margin: 2px;
    border-radius: 5px;
}
.phan3  .sukien2 .hinhanhsk2{
    margin-left: 6%;
}
.bottom{
    width: 100%;
    height: 220px;
    background-image: linear-gradient(to right,#FCA5F1,#B5FFFF);

    height: 300px;
}

}

.bottom .thanhngu .noidung{
    text-align: center;
    padding-top: 50px;
}
.bottom .thanhngu .tacgia{
   
    text-align: center;
    margin-top: 7px;
}
.bottom .thanhngu p{
    color: #006899 ;
    font-size: 18px;
}
.bottom .logo{
    height: 50px;
    width: 50px;
    border-radius: 500px;
    margin: auto;
}

.tongbottom{
    width: 857px;
    margin: auto;
}
@media only screen and (max-width: 1500px){
    .body{
     width: 100%;
    }
  }
=======
.scrolltop{
    font-size: 15px;
    position: fixed;
    z-index: 20;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: 0.5s;
    background-color: rgb(239, 241, 241);
    opacity: 1;
    border: groove 1em rgb(116, 207, 243);
    border-radius: 2em;
}
.scrolltop :hover{
    transform: scale(1.5);
}

