html,body{
    width: 100%;
    margin: 0;
    text-align: center;
}
.menu{
    height: 28px;
    background-color: hsl(205, 71%, 39%);
    text-align: center;
   
}
.menu ul {
    margin-left:200px;
    position: relative;
}
.menu ul li{
    display: inline-block;
    padding-left: 20px;
     
}
.baoham{
    position: relative;
}
.menu ul li a {
text-decoration: none;
text-align: center;
color: white;
font-size: 12px; 
}
.menu ul li  a img{
    width: 18px;
    height: 18px;
}
.menu ul li a i{
    width: 18px;
    height: 18px;
    color: yellow;
    font-size: 18px;
   
}
.menu ul li i{
    width: 18px;
    height: 18px;
    color: yellow;
    font-size: 18px;  
}
 .trolitiki1{
    border: wheat 1px solid;
    background-color: white;
    width: 300px;
    text-align: left;
    font-size: 12px;
}
.tongtroly
.trolitiki0{
    margin-left: 20px;
    margin-top: 5px;
}
li:hover .trolitiki .tongtroly{
    opacity: 1;
    visibility: visible;
}
.trolitiki .trolitiki1 a{
    text-decoration: none;
    color: blue;
}
.tongtroly{
    visibility: hidden;
    opacity: 0;
    position: absolute;
}
.trolitiki0{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}
.menu2{
    background-color:hsl(205, 100%, 55%);
    width: 100%;
    height: 130px;
}
.tongtroly1{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    height: 310px;
}
.sell2{
    border: wheat 1px solid;
    background-color: white;
    width: 550px;
    text-align: left;
    font-size: 12px;
    height: 230px;  
}
.sell1{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white; 
}
li:hover .Selltiki .tongtroly1{
    visibility: visible;
    opacity: 1;
}

.sell2 a{
    background-image: -webkit-linear-gradient(left, red,red);
    padding: 15px 35px 15px 35px;
    color:red;
    text-decoration: none;
    margin-left: 30px;
    border-radius: 5px 5px 5px 5px;
    text-transform: uppercase;
}
.quangcao{
}
.quangcao img{
    width: 100%;
}
.menu2-1{
    width: 100%;
    text-align: center;
}
.menu2-1 div input{
    width:431px ;
    height:40px;
    border-radius: 4px 0px 0px 4px;
    position: relative;
    margin-left: -20px;
}
.menu2-1  button   {
    width:105px;
    height:40px;
    background-color:hsl(228, 16%, 94%); 
    color: hsl(0, 0%, 29%);
    border:none;
    margin-left: -4px;
    position: relative;
}
.menu2-1 ul{
list-style: none;
position: relative;
margin-left: -130px;
}
.menu2-1  ul li{
    display: inline-block;
    padding-left: 20px;
}
.menu2-2{
    text-align: center;
    position: relative;
}
.menu2-2 ul{
    list-style: none;
}
.menu2-2 ul li{
    display: inline-block;
    padding-left: 20px;
    
}
.main{
    width: 1270px;
    position: relative;
}
